html{
    background-color: #FCF5EE;
    font-family: "Archivo", sans-serif;
}

.heading-1{
    color: #EE6983;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.heading-2{
    color: #FFC4D0;
    text-align: center;
    padding-bottom: 0px;
}

.heading-3{
  color: #FFC4D0;
  padding-left: 5%;
  text-align: left;
}

.text{
  color: #EE6983;
}

.contests-left{
  flex:1;
}

.contests{
  display: flex;
}

.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FBE8E7;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;

    background: linear-gradient(-45deg, #ffd0f9, #ffecd6, #ffdde8, #ffffff);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh;
  }

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sidenav a {
  display: block;
  color: #EE6983;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.sidenav a:hover{
  color: #FFC4D0;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  border:5px solid pink; 
  border-radius: 25px;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  text-align: center;
}